@font-face {font-family: Lora Regular; src: url(Fonts/Lora-Regular.ttf)}
@font-face {font-family: Lora Medium; src: url(Fonts/Lora-Medium.ttf)}
@font-face {font-family: Lora Bold; src: url(Fonts/Lora-Bold.ttf)}
@font-face {font-family: Mulish Regular; src: url(Fonts/Mulish-Regular.ttf)}
@font-face {font-family: Mulish Bold; src: url(Fonts/Mulish-Bold.ttf)}
@font-face {font-family: Mulish ExtraBold; src: url(Fonts/Mulish-ExtraBold.ttf)}
@font-face {font-family: Montserrat SemiBold; src: url(Fonts/Montserrat-SemiBold.ttf)}
@font-face {font-family: Montserrat Bold; src: url(Fonts/Montserrat-Bold.ttf)}

/* Home.js */
.home-content {
  display: flex; 
  height: 100vh;
  background-color: #EEEEEE;
}
.home-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
}
.home-title-container {
  width: 60vw;
  height: 8vw;
}
.home-title {
  font-size: clamp(1.5rem, 3.8vw, 3.0rem); 
  text-align: center;
  font-family: Mulish ExtraBold;
  /* -webkit-text-stroke: 1px black;
  color: white; */
}
.home-right {
  flex: 1;
  overflow-y: auto;
}

/* Map.js */
.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px); /* calculate height of the screen minus the heading */
  }

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

/* FiltersPanel.js */
#filters-panel {
  text-align: center;
  padding-top: 1%;
  font-family: Mulish Bold;
}

/* Modal.js */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  max-width: 100%;
}
.close-button {
  float: right;
  background: none;
  border: none;
  font-size: 1.5em;
}

/* ResultsPanel.js */
#results-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#sorting-options {
  position: sticky;
  top: 0;
  background-color: #E0E0E0;
  z-index: 10;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#data-cards {
  overflow-y: auto;
  flex-grow: 1;
}
  /* Card in ResultsPanel.js */
  .card-container {
    padding-top: clamp(0.3rem, 1.7vw, 0.8rem);
    padding-bottom: clamp(0.3rem, 1.7vw, 0.8rem);
    border-top: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease, max-height 0.5s ease, padding 0.5s ease;
    overflow: hidden;
    max-height: 5vw;
  }
  .card-container:hover {
    background-color: #C9C9C9;
  }
  .card-container.expanded {
    /* background-color: #D6DACE; */
    max-height: 30vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .card-container:last-child {
    border-bottom: 1px solid black;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center content */
  }
  .card-name-neighborhood {
    flex-direction: column;
  }
  .card-toggle {
    margin-left: auto; /* Pushes the score to the far-right */
    font-weight: bold;
    padding-right: 2.0vw;
    font-size: 2.0vw;
  }
  .card-name {
    font-family: Mulish ExtraBold;
    font-size: clamp(0.5rem, 1.8vw, 1.2rem);
    padding-left: 1.5vw;
    margin-bottom: 0.15vw;
  }
  .card-subname {
    font-size: clamp(0.3rem, 1vw, 1rem);
    padding-left: 0.2vw;
  }
  .card-neighborhood {
    font-family: Mulish Bold;
    font-size: 1vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    display: inline-flex;
    text-align: left;
    margin-left: 1.5vw;
    margin-top: 0.4vw;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    white-space: nowrap; /* Ensure the text doesn't wrap */
    width: auto; /* Keep the width according to content */
  }
  .card-content {
    font-family: Mulish Regular;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    padding-top: 0.8vw;
    font-size: clamp(0.6rem, 1.1vw, 1rem);
    cursor: default;
  }
  .card-container.expanded .card-content {
    opacity: 1;
    transform: translateY(0);
  }
  .card-divider {
    background-color: black;
    width: 30vw;
    border-top: 1px;
  }
  .card-image-container {
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    text-align: center;
  }
  .card-image {
    width: 30vw;  /* Set your desired width */
    height: 15vw; /* Set your desired height */
    object-fit: cover;
    align-items: center;
  }
  .card-address {
    margin-left: 1.5vw;
  }
  .card-score {
    margin-left: 1.5vw;
  }
  .card-external-links {
    display: flex;
    align-items: center; /* Vertically align items */
    gap: 10px;
    margin-left: 1.5vw;
  }
  .card-google-maps-container, .card-yelp-container {
    display: flex;
    align-items: center;
  }
  .card-google-maps {
    display: flex;
    align-items: center;
    background-color: white; /* Customize the button color */
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 0.8vw;
    font-weight: bold;
    font-size: 0.9vw;
  }
  .card-yelp {
    display: flex;
    align-items: center;
    background-color: #EE3739; /* Customize the button color */
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 0.8vw;
    font-weight: bold;
    font-size: 0.9vw;
  }
  .card-google-maps-logo {
    width: 1vw; 
    height: auto;
    margin-right: 5px;
  }
  .card-yelp-logo {
    width: 2vw;
    height: auto;
    margin-right: 1px;
  }


