.home-content {
  display: flex; 
  height: 100vh;
  background-color: #D6DACE;
}
.home-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-size: clamp(1.2rem, 3.5vw, 2.5rem); 
  margin: 3%;
  margin-bottom: 2%;
  text-align: center;
}
.home-right {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

#filters-panel {
  text-align: center;
  padding-top: 1%;
}
#neighborhood-title {
  font-weight: bold;
  padding-bottom: 4%;
}
