@font-face {font-family: Lora Regular; src: url(Fonts/Lora-Regular.ttf)}
@font-face {font-family: Lora Medium; src: url(Fonts/Lora-Medium.ttf)}
@font-face {font-family: Lora Bold; src: url(Fonts/Lora-Bold.ttf)}
@font-face {font-family: Mulish Regular; src: url(Fonts/Mulish-Regular.ttf)}
@font-face {font-family: Mulish SemiBold; src: url(Fonts/Mulish-SemiBold.ttf)}
@font-face {font-family: Mulish Bold; src: url(Fonts/Mulish-Bold.ttf)}
@font-face {font-family: Mulish ExtraBold; src: url(Fonts/Mulish-ExtraBold.ttf)}
@font-face {font-family: Montserrat SemiBold; src: url(Fonts/Montserrat-SemiBold.ttf)}
@font-face {font-family: Montserrat Bold; src: url(Fonts/Montserrat-Bold.ttf)}
@font-face {font-family: Nexa Heavy; src: url(Fonts/Nexa-Heavy.ttf)}
@font-face {font-family: Elmond; src: url(Fonts/Elmond.ttf)}

#landscape-warning {
  display: none;
}
@media screen and (orientation: landscape) {
  /* Hide your main app */
  #main-app-container {
    display: none !important;
  }
  
  /* Show the warning overlay */
  #landscape-warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    z-index: 9999;
    text-align: center;
    padding: 20px;
    font-family: 'Mulish Bold', sans-serif;
  }
}

/* Home.js (Mobile) */
#mobile-content {
  height: 100vh;
  width: 100%;
  border: 3px solid black;
}
#mobile-nav {
  height: 10%;
  width: 100%;
  border-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  box-sizing: border-box;
  gap: 1rem;
  position: sticky;
}
#mobile-nav-logo {
  width: clamp(30px, 14vw, 80px);
  height: auto;
  cursor: pointer;
}
#mobile-nav-about {
  color: black;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 4px;
  font-family: Mulish Bold;
  font-size: clamp(14px, 3vw, 18px);
  cursor: pointer;
  margin: 0; 
  padding: 6px 8px;
}
#mobile-toggle {
  position: relative;
  display: flex;
  width: 100%;
  height: 6%;
  border-bottom: 3px solid black;
  position: sticky;
}
.mobile-toggle-btn {
  flex: 1;
  border: none;
  background: transparent;
  font-size: 1rem;
  z-index: 2;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: Mulish Bold;
  font-size: clamp(14px, 4vw, 18px);
  color: black;
}
.mobile-toggle-btn.active {
  color: white;
}
.mobile-toggle-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: black;
  transition: transform 0.3s ease;
  z-index: 1;
}
.mobile-toggle-slider.map {
  transform: translateX(0%);
}
.mobile-toggle-slider.list {
  transform: translateX(100%);
}
.maplibregl-ctrl-top-right,
.maplibregl-ctrl-top-left {
  margin-top: 4vh; 
  margin-right: 1vw;
}

/* MapMobile.js */
.mobile-map-wrap {
  font-family: Mulish Bold;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.mobile-map {
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid black;
}

#mobile-map-filters {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  height: 6vh;
  scrollbar-width: none;
  position: absolute;
  top: 0%;
  width: 98%; /* Constrains the div so overflow occurs */
  z-index: 10;
  padding-right: 10px;
}

@keyframes popup-bounce-up {
  0% {
    transform: translate(-50%, 100%); /* start off screen bottom */
    opacity: 0;
  }
  60% {
    transform: translate(-50%, -5%); /* overshoot upward a bit */
  }
  80% {
    transform: translate(-50%, 2.5%); /* settle back down */
  }
  100% {
    transform: translate(-50%, 0); /* final resting position */
    opacity: 0.95;
  }
}
@keyframes popup-bounce {
  0% {
    transform: translate(-50%, 0); /* start off screen bottom */
    opacity: 0.95;
  }
  40% {
    transform: translate(-50%, -5%); /* overshoot upward a bit */
  }
  70% {
    transform: translate(-50%, 2.5%); /* settle back down */
  }
  100% {
    transform: translate(-50%, 0); /* final resting position */
    opacity: 0.95;
  }
}
.mobile-map-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background-color: white;
  border: 4px solid black;
  border-radius: 3px;
  position: absolute;
  width: 80%;
  min-height: 20%;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9000;
  opacity: 0;
}
.mobile-map-popup.first {
  animation: popup-bounce-up 0.4s ease-out forwards;
}
.mobile-map-popup.again {
  animation: popup-bounce 0.4s ease-out forwards;
}
.mobile-map-popup-namescore {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 6%;
  user-select: text;
  cursor: text;
}
.mobile-map-popup-namescore-left {
  flex: 7.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: text;
  cursor: text;
}
.mobile-map-popup-namescore-left-name {
  font-family: Mulish Extrabold;
  font-size: clamp(18px, 5.2vw, 24px);
}
.mobile-map-popup-namescore-left-subname {
  font-size: clamp(8px, 2.6vw, 13px);
}
.mobile-map-popup-namescore-left-neighborhood {
  font-size: clamp(8px, 2.6vw, 13px);
  margin-top: 5%;
}
.mobile-map-popup-namescore-left-neighborhood-style {
  padding: 0.5% 4%;
  border-radius: 4px;
}
.mobile-map-popup-namescore-right {
  flex: 2.2;
  display: flex;
  justify-content: right;
}
.mobile-map-popup-namescore-right-score {
  font-size: clamp(24px, 6.5vw, 28px);
  font-family: Mulish Extrabold;
  text-align: center;
  border-radius: 4px;
  min-width: 50px;
}
.mobile-map-popup-hoursaddress {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  /* padding-top: 6%; */
  font-size: clamp(13px, 3.4vw, 18px);
}
.mobile-map-popup-hours {
  display: flex;
  flex-direction: row;
}
.mobile-map-popup-hours-numbers {
  flex: 7.75;
  font-family: Mulish ExtraBold;
}
.mobile-map-popup-hours-status {
  flex: 2.25;
  text-align: right;
  padding-right: 0.5%;
}
.mobile-map-popup-address {
  font-family: Mulish Extrabold;
  font-size: clamp(13px, 3.4vw, 18px);
  margin-bottom: 5px;
}
.mobile-map-popup-pagedirections {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 6%;
  /* padding-top: 4%; */
}
.mobile-map-popup-pagedirections-page {
  flex: 9;
  display: flex;
  /* justify-content: end; */
  align-items: center;
  text-align: center;
}
.mobile-map-popup-page-directions-page-button {
  background-color: #FFFFFF;
  border: 3px solid #000000;
  border-radius: 4px;
  font-family: Mulish ExtraBold;
  font-size: clamp(10px, 3.6vw, 18px);
  color: black;
  width: 100%;
  min-height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 15px;
}
.mobile-map-popup-page-directions-page-button-icon {
  margin-left: 0.4rem;
  margin-top: 0.1rem;
  height: clamp(0.5rem, 4vw, 1.5rem);
  width: clamp(0.5rem, 5vw, 1.5rem);
}
.mobile-map-popup-page-directions-page-button-icon path {
  fill: #000000;
}
.mobile-map-popup-pagedirections-directions {
  flex: 1;
  display: flex;
}
.mobile-map-popup-pagedirections-directions-button {
  min-height: 40px;
  min-width: 80%;
  aspect-ratio: 1 / 1;
  border: 3px solid #3AAB59;
  /* background-color: #3AAB59; */
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-map-popup-pagedirections-directions-logo {
  width: 4vw;
}

/* ListMobile.js */
#mobile-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#mobile-list-filters {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  height: 6vh;
  border-bottom: 3px solid black;
  scrollbar-width: none;
  position: sticky;
  padding-right: 10px;
}
#mobile-list-cards {
  overflow-y: auto;
  height: 100%;
}
#mobile-list-cards > :first-child {
  border-top: none;
}
#mobile-list-cards > :last-child {
  border-bottom: 2px solid black;
}
.mobile-list-filter {
  margin-left: 7px;
}
.mobile-list-filter.searchback {
  flex: 2;
}
.mobile-list-filter.search {
  flex: 8;
}
.mobile-filter-item.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #FFFFFF;
  /* color: #FFFFFF; */
  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.2s ease, background-color 0.3s ease; 
  font-size: 12px;
  flex: 1;
  font-family: Mulish Bold;
  height: 2.5vh;
}
.mobile-filter-item.bubble:active {
  transform: scale(0.9);
}
.mobile-filter-item.bubble.search:active {
  transform: scale(1.0);
}
.mobile-filter-item.bubble.selected {
  border-color: #000000;
  background-color: #000000;
  color: white;
  transform: scale(1.0);
}
.mobile-filter-item.bubble.time, .mobile-filter-item.bubble.day {
  position: relative; /* This is the most crucial part! */
}
.mobile-filter-item.bubble.time-apply {
  width: 30px;
}
/* 2. Create the invisible overlay class */
.hidden-native-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Makes it completely invisible */
  cursor: pointer; /* Ensures the tap registers correctly */
  z-index: 10; /* Ensures it sits on top of your custom text */
}
.mobile-filter-icon {
  margin-right: 1vw;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* fill: black; */
}
.mobile-filter-item.bubble.selected .mobile-filter-icon, .mobile-filter-item.bubble.selected #mobile-filter-food-icon path, .mobile-filter-item.bubble.selected #mobile-filter-gem-icon path, .mobile-filter-item.bubble.selected #mobile-filter-time-icon path {
  fill: #FFFFFF;
}
#mobile-filter-time-icon {
  height: 12px;
  width: 12px;
}
#mobile-filter-outlet-icon {
  margin-right: 0.9vw;
}
#mobile-filter-search-icon {
  margin-right: 0px;
  height: 12px;
  width: 12px;
}
#mobile-filter-search-icon-searching {
  margin-right: 3px;
  height: 12px;
  width: 12px;
  fill: white;
  stroke: white;
}
.mobile-filter-search-overall {
  display: flex;
  flex-direction: row;
}
.mobile-filter-search, .mobile-filter-search-set, .mobile-filter-search-focused {
  display: flex;
  justify-content: left;
  align-items: center;
  /* border: 2px solid black;
  border-radius: 3px; */
  /* width: clamp(5rem, 25.75vw, 30rem);
  height: clamp(0.5rem, 2vw, 3rem); */
}
.mobile-filter-item.bubble.search, .mobile-filter-item.bubble.search.focused, .mobile-filter-item.bubble.search.set {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 3px 10px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  /* transition: border-color 0.3s ease, transform 0.2s ease, background-color 0.3s ease;  */
  flex: 1;
  font-family: Mulish Bold;
  height: 2.5vh;
  /* width: 40vw; */
}
.mobile-filter-search, .mobile-filter-search:focus, .mobile-filter-search-input:focus, .mobile-filter-search-focused, .mobile-filter-search-set, .mobile-filter-search-set .mobile-filter-search-input {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  /* transition: color 0.3s ease, background-color 0.3s ease; */
}
.mobile-filter-search-input {
  outline: none;
  border: none;
  font-family: Mulish Bold;
  background-color: #000000;
  color: #FFFFFF;
  transform: scale(0.8); 
  transform-origin: left center;
  font-size: 16px;
  /* width: clamp(5rem, 23vw, 25rem);
  height: clamp(0.5rem, 1.3vw, 2.5rem); */
  /* font-size: clamp(0.5rem, 1vw, 1.1rem); */
  cursor: text;
  width: 40vw;
}
.mobile-filter-search-focused .mobile-filter-search-input {
  cursor: text;
  /* transition: color 0.3s ease; */
}

/* CardMobile.js */
.mobile-card {
  padding-top: clamp(0.3rem, 1.8vw, 0.7rem);
  border-top: 2px solid black;
  font-family: Mulish Bold;
}
.mobile-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  cursor: pointer;
  padding-top: 0.5vw;
  padding-bottom: 2.5vw;
  transition: background-color 0.3s ease
}
.mobile-card-header-nameneighborhood {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  gap: 1vw;
  padding-left: 15px;
}
.mobile-card-new {
  font-size: clamp(8px, 2.2vw, 11px);
  margin-bottom: 3px;
  margin-top: 2px;
}
.mobile-card-new-tag {
  border-radius: 4px;
  padding: 0.2rem 0.2rem;
  font-weight: bold;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.mobile-card-name {
  font-family: Mulish Extrabold;
  font-size: clamp(18px, 5vw, 20px);
}
.mobile-card-name-style {
  width: 100%;
}
.mobile-card-subname {
  font-size: clamp(8px, 2.6vw, 13px);
  margin-top: 0;
  margin-bottom: 2px;
}
.mobile-card-neighborhood-style {
  border-radius: 4px;
  font-size: clamp(8px, 2.6vw, 13px);
  padding: 0.25% 2%;
}
.mobile-card-header-score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(24px, 6.5vw, 28px);
  border-radius: 4px;
  text-align: center;
  width: 20%;
  padding-right: 10px;
  transition: border 0.2s ease, color 0.2s ease;
}
.mobile-card-score {
  border-radius: 4px;
  font-family: Mulish Extrabold;
  min-width: 50px;
}
.mobile-card-minimize {
  width: 30px;
  height: 30px;
  fill: white;
  padding-top: 1.5vw;
}
.mobile-card-divider {
  background-color: white;
  border: none;
  border-top: 3px solid white;
  border-radius: 4px;
  width: 91vw;
  margin: 0.5rem auto;
  margin-top: 0.25rem;
}
.mobile-card-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.6s ease, opacity 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobile-card-body.expanded {
  max-height: 70vh;
  opacity: 1;
}
.mobile-card-image {
  width: 90vw;
  height: 22vh;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 4px;
  margin-top: 2.5vw;
  padding-left: 0;
  margin-bottom: 4vw;
}
.mobile-card-info {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  /* padding-top: 6%; */
  font-size: clamp(13px, 3.4vw, 18px);
  width: 91vw;
  margin-bottom: 4vw;
  /* background-color: white; */
}
.mobile-card-hoursaddress {
  flex: 8;
  font-family: Mulish ExtraBold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.mobile-card-hours {
  margin-top: 5px;
}
.mobile-card-body-score {
  flex: 1;
  font-size: clamp(24px, 6.5vw, 28px);
  border-radius: 4px;
  border: 3px solid white;
  text-align: center;
  /* width: 20%; */
}
.mobile-card-body-score-number {
  border-radius: 4px;
  font-family: Mulish Extrabold;
  min-width: 50px;
}
.mobile-card-hours-status {
  flex: 2;
  text-align: right;
}
.mobile-card-pagedirections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 91vw;
  margin-bottom: 4vw;
}
.mobile-card-page {
  flex: 9;
  border: 3px solid black;
  background-color: white;
  color: black;
  min-height: 40px;
  border-radius: 4px;
  font-family: Mulish ExtraBold;
  font-size: clamp(10px, 3.6vw, 18px);
  width: 100%;
  min-height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 15px;
}
.mobile-card-page-icon {
  margin-left: 0.4rem;
  margin-top: 0.1rem;
  height: clamp(0.5rem, 4vw, 1.5rem);
  width: clamp(0.5rem, 5vw, 1.5rem);
}
.mobile-card-directions {
  flex: 1;
  display: flex;
}
.mobile-card-directions-button {
  min-height: 40px;
  min-width: 80%;
  aspect-ratio: 1 / 1;
  border: 3px solid #3AAB59;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-card-directions-button-logo {
  width: 4vw;
}


/* CafeMobile.js */
.mobile-cafe {
  position: absolute;
  background: white;
  height: 100%;
  width: 100vw;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.4s ease, opacity 0.4s ease;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}
.mobile-cafe.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 95vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
.mobile-cafe.lightbox {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  padding-left: 2px;
  padding-right: 2px;
  width: 100vw;
}
.mobile-cafe-back {
}
.mobile-cafe-back-sticky {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 8px;
  cursor: pointer;
  height: 20px;
  padding-right: 5px;
  /* padding-bottom: 4px; */
  /* padding-bottom: 8px; */
  /* border-right: 3px solid black; */
  /* border-bottom: 3px solid black; */
  /* border-radius: 4px; */
}
.mobile-cafe-back-arrow {
  width: 20px;
  padding-top: 1px;
}
.mobile-cafe-back-text {
  font-family: Mulish ExtraBold;
  font-size: clamp(13px, 3.4vw, 18px);
  margin-left: 3px;
  text-align: center;
}
.mobile-cafe-names {
  font-family: Mulish Extrabold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.mobile-cafe-name {
  font-size: clamp(22px, 6.5vw, 30px);
}
.mobile-cafe-subname {
  font-size: clamp(10px, 3vw, 20px);
  padding-top: 3px;
}
.mobile-cafe-neighborhood {
  font-size: clamp(8px, 2.7vw, 18px);
  text-align: left;
  margin-top: 8px;
}
.mobile-cafe-neighborhood-style {
  border-radius: 4px;
  padding: 1px 8px;
}

.photo-gallery {
  width: 95%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  justify-content: start;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: -15px;
}

.photo-gallery-inner {
  display: flex;
}

.photo-gallery-inner img {
  flex: 0 0 85%;
  scroll-snap-align: center;
  object-fit: cover;
  border-radius: 4px;
  height: 200px;
  width: 25vw;
  margin-right: 15px;
  margin-top: 25px;
  transition: transform 0.3s ease;
}

.photo-gallery-inner img:active {
  transform: scale(0.98);
}

.lightbox-overlay {
  /* Fixes it to the entire screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Background: Black (rgba(0,0,0,1)) with 80% opacity */
  background-color: rgba(0, 0, 0, 0.8);
  
  /* Ensures it is on top of everything */
  z-index: 1000;
  
  /* Center the content vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2. The Modal Content Container */
.lightbox-content {
  /* Center the container relative to the viewport */
  position: relative; 
  
  /* Set a maximum width so the image doesn't take up the entire screen */
  max-width: 90%; 
  max-height: 90%;
  margin-right: 10px;
  margin-left: 10px;
}

/* 3. The Image */
.lightbox-image {
  /* Scale the image down to fit within the modal container */
  display: block;
  max-width: 100%; 
  max-height: 80vh; /* Max height of the viewport */
  object-fit: contain; /* Ensures the image is fully visible */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7); /* Optional: Adds a lift effect */
}

/* 4. The Close Button */
.lightbox-close-btn {
  /* --- 💡 THE FIX: Pin it directly to the overlay/viewport --- */
  position: absolute; /* It will position relative to the fixed parent (.lightbox-overlay) */
  top: 20px;         /* Distance from the top edge of the screen */
  right: 30px;       /* Distance from the right edge of the screen */
  
  /* Styling for the 'x' */
  color: white;
  background: none;
  border: none;
  font-size: 40px; /* Made it a little bigger for easier tapping/clicking */
  cursor: pointer;
  padding: 30px 17px;
  line-height: 1;
  font-weight: 300;
  text-shadow: 0 0 5px black;
  
  /* Ensure it's clickable above the image */
  z-index: 1001; 
}

@media (max-width: 768px) {
  /* Move close button closer on smaller screens */
  .lightbox-close-btn {
    top: -25px;
    right: 0px;
  }
}

.mobile-cafe-about {
  margin-left: 20px;
  font-family: Mulish ExtraBold;
  margin-top: 18px;
  font-size: 18px;
}
.mobile-cafe-description {
  margin-top: 10px;
  font-family: Mulish Regular;
  margin-left: 20px;
  font-size: 14px;
  margin-right: 20px;
}
.mobile-cafe-suggested-drink, .mobile-cafe-suggested-food {
  margin-top: 5px;
}

.mobile-cafe-hours-location {
  margin-left: 20px;
  font-family: Mulish ExtraBold;
  margin-top: 22px;
  font-size: 18px;
}
.mobile-cafe-hours-location-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 13px;
  margin-right: 0px;
  margin-bottom: 120px;
}
.mobile-cafe-hours-container {
  display: flex;
  justify-content: end;
  margin-top: 12px;
  margin-left: 20px;
  border-radius: 4px;
  width: 48%;
  border: 3px solid black;
}
.mobile-cafe-hours {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.mobile-cafe-hours th {
  background-color: black;
  color: white;
  font-family: Mulish SemiBold;
  /* font-weight: normal; */
  border: 2px solid black;
  width: 14px;
}
.mobile-cafe-hours td {
  font-family: Mulish SemiBold;
  border: 2px solid black;
  text-align: center;
  width: 60px;
}
.mobile-cafe-hours td.right {
  border-right: none;
}
.mobile-cafe-hours td.first-row, .mobile-cafe-hours th.first-row {
  border-top: none;
}
.mobile-cafe-hours td.last-row, .mobile-cafe-hours th.last-row {
  border-bottom: none;
}
.mobile-cafe-location-container {
  margin-top: 10px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 45%;
}
.mobile-cafe-location-address {
  font-family: Mulish Bold;
}
.mobile-cafe-location-googlemaps {
  margin-top: 10px;
  min-height: 30px;
  padding-left: 9px;
  padding-top: 2px;
  padding-right: 7px;
  border: 3px solid #017AFF;
  background-color: #FFFFFF;
  color: #017AFF;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mulish Bold;
  /* color: #3AAB59; */
  font-size: 12px;
  padding-bottom: 3px;
  min-width: 34vw;
}
.mobile-cafe-location-googlemaps-logo {
  width: 4vw;
  margin-right: 2px;
}
.mobile-cafe-location-applemaps-logo {
  width: 3vw;
  margin-right: 2px;
}
.mobile-cafe-location-yelp {
  margin-top: 10px;
  min-height: 30px;
  padding-left: 9px;
  padding-top: 2px;
  padding-right: 7px;
  border: 3px solid #EE3739;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mulish Bold;
  color: #EE3739;
  font-size: 12px;
  padding-bottom: 3px;
  min-width: 34vw;
}
.mobile-cafe-location-yelp-logo {
  width: 4vw;
  margin-right: 2px;
}
.mobile-cafe-score-title {
  margin-left: 20px;
  font-family: Mulish ExtraBold;
  margin-top: 20px;
  font-size: 18px;
}
.mobile-cafe-score-container {
  margin-top: 10px;
  margin-left: 20px;
}

.mobile-score-container {
  display: flex;
  flex-direction: row;
}
.mobile-score-overall {
  flex: 2;
}
.mobile-score-overall-number {
  color: #FFFFFF;
  font-family: Mulish ExtraBold;
  font-size: 40px;
  border-radius: 3px;
  width: 25vw;
  height: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-score-subscores {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 12px;
  margin-top: 1px;
}
.mobile-score-subscore {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mobile-score-subscore-icon {
  width: 5.2vw;
  height: 5.5vw;
}
.mobile-score-subscore-icon.drinks {
  fill: black;
}
.mobile-score-subscore-number {
  margin-left: 6px;
  font-family: Mulish Bold;
}
.mobile-score-bar-container {
  margin-left: 6px;
  margin-top: 2px;
  width: 40vw;
  height: 6px;
  border: 2px solid black;
  border-radius: 10px;
}
.mobile-score-bar-container.outlet {
  width: 13.3vw;
}
.mobile-score-bar-fill {
  height: 100%;
  background-color: black;
  border-radius: 4px;
  transition: width 0.3s ease-in-out;
}